@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1:#1c3142;
    --cor2:#1c2542;
    --cor3:#1f1c42;
    --cor4:#000829;
    --cor5:#dffcf2;
}

body{
    background-color: var(--cor2);
    color: var(--cor5);
}

header{
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

h1#site{
    color: var(--cor5);
    font-size: 2em;
}

nav{
    background-color: var(--cor5);
    padding: 10px 15px;
    border-radius: 15px;
}

nav > a{
    font-size: 16px;
    padding: 0px 10px;
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 15px;
    padding: 5px 10px;
    transition-duration: 0.5s;
    font-weight: bolder;
    text-decoration: none;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

section#home{
    background-color: var(--cor2);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div#image{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(to bottom, #1c2542, transparent), linear-gradient(to top, #1c2542, transparent), url(imagens/estudando0s.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h2#homeH2{
    font-size: 6vw;
    font-weight: bolder;
    color: var(--cor5);
}

p{
    font-size: 1.5em;
    font-weight: lighter;
    color: var(--cor5);
    margin-bottom: 40px;
}

button.ovalButton{
    width: 600px;
    height: 50px;
    background-color: var(--cor5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--cor2);
    box-shadow: 0px 10px 15px var(--cor4);
}

button.ovalButton:hover{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--cor5);
    color: var(--cor5);
    transition: 0.5s;
    font-weight: bold;
}

form{
    min-width: 400px;
    max-width: 900px;
    height: 706px;
    max-height: 716px;
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px var(--cor4);
    margin-top: 40px;
    margin-bottom: 40px;
}

h1#menu{
    text-align: center;
    color: var(--cor5);
    margin-bottom: 40px;
}

input{
    width: 860px;
    height: 50px;
    padding: 0px 20px;   
    outline: none;
    border: 1px solid var(--cor5);
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--cor2);
    color: var(--cor5);
    margin-bottom: 100px;
}

input::placeholder{
    color: var(--cor5);
}

/*
button.filtro{
    background-color: #45304F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 10px;
}

button.filtro:hover{
    background-color: #71C1C8;
}
*/

