@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#1c3142;
    --cor2:#1c2542;
    --cor3:#1f1c42;
    --cor4:#001f29;
    --cor5:#dffcf2;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3));
    font-size: 16px;
    margin: 0px;
    height: 100vh;
    width: 100%;
}

header{
    background-color: transparent;
    margin: 0px;
}

h1#site{
    text-align: center;
    color: var(--cor5);
    font-size: 2em;
    padding-top: 5px;
}

nav{
    background-color: transparent;
    padding: 0px 0px 10px 25px;
    box-shadow: 0px 10px 10px var(--cor4);
}

nav > a{
    font-size: 16px;
    padding: 5px;
    color: var(--cor5);
    text-decoration: none;
}

nav > a:hover{
    background-color: var(--cor5);
    color: var(--cor2);
    border-radius: 10px;
    padding: 5px 10px;
    transition-duration: 1s;
    font-weight: bolder;
}

span.divisor{
    padding: 0px 10px;
    color: var(--cor3);
}

form{
    min-width: 400px;
    max-width: 900px;
    height: 706px;
    max-height: 716px;
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px var(--cor4);
    margin-top: 40px;
    margin-bottom: 40px;
}

h1#menu{
    text-align: center;
    color: var(--cor5);
    margin-bottom: 40px;
}

input{
    width: 860px;
    height: 50px;
    padding: 0px 20px;   
    outline: none;
    border: 1px solid var(--cor5);
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--cor2);
    color: var(--cor5);
    margin-bottom: 100px;
}

input::placeholder{
    color: var(--cor5);
}

button#confirm{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: normal;
    color: var(--cor5);
    box-shadow: 10px 10px 15px var(--cor4);
}

button#confirm:hover{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--cor5);
    color: var(--cor5);
    transition: 0.5s;
    font-weight: bold;
}

/*
button.filtro{
    background-color: #45304F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 10px;
}

button.filtro:hover{
    background-color: #71C1C8;
}
*/

footer{
    background-color: var(--cor3);
    margin: 0px;
}

footer> p{
    margin: 0px;
    text-align: center;
    color: var(--cor5);
    font-size: 16px;
}
